* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* outline: 1px red solid; */
}

p {
  line-height: inherit;
  /* text-align: justify; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #6b717c;
}
span {
  display: inline;
  margin-left: 30px;
  text-align: center;
}
.container {
  margin-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
}
.kutipan {
  text-align: center;
  padding-top: 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 60px;
  color: #6b717c;
}
.container2 {
  background: linear-gradient(180deg, rgba(13, 28, 55, 0.17) 0%, rgba(217, 217, 217, 0) 76.2%);
}
ul li {
  list-style: none;
  color: #6b717c;
  font-size: 18px;
  line-height: 40px;
  font-weight: 400px;
}
.bawah {
  display: flex;
}
footer {
  margin: auto;
  line-height: inherit;
  padding-top: 50px;
}
.akhir {
  display: flex;
}
.wave {
  background-image: url("Vector 1.png");
}
